body {
    display: -ms-flexbox;
    display: -webkit-box;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: #ffffff ;
    background-image: url('../resources/img/fondo5.jpg')
}


#formu{
    background: #172f53ad;
   
    letter-spacing: 0.15em;
    font-weight: bold;
    text-align:center;
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: 0 auto;
    
}
.input-field > label{
    color:#ffffff ;
}


.inputlog::placeholder{
    background: #0058923d;
}


.button {
    --offset: 10px;
    --border-size: 2px;
    
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #ffffffd3 ;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
  }
  .button:hover {
    background: rgba(100, 0, 0, 0.03);
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    transform: scaleY(0);
  }

  /*Estilos aplicados al formulario a llenar (form1 pa delante) */

  .input-oscuro{ 
    color: #48bbaf;  
  }
  .input-oscuro::placeholder{ 
    color: #acece6;  
  }

  .contform{
    
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .label{
    display: flex;
    justify-content: left;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 0.9rem;
 
  }

  .abajito {
    position: relative;
    color: #acece6 ;
    min-height:18px;
    
    font-size: 12px;
       
  }

 